<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Resident Address <input type = "text" name = "Resident" /></p>
         <p>House Value <input type = "text" name = "House" /></p>
         <p>number of bedrooms <input type ="text" name = "Bedrooms" /></p>
         <p>number of floors <input type ="text" name = "Floors" /></p>
         <p>House Area <input type ="text" name = "Area" /></p>
         <p>Promotion <input type ="text" name = "Promotion" /></p>
         
         
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>